<!DOCTYPE html>
<html>
  <head>
    <title>MobiusProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
  <%= current_user.email %>
  <%= current_user.credits %>
  <%= button_to "Sign Out", session_url, method: :delete %>
  <% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
  <% end %>
    <%= yield %>
  </body>
</html>
